*{
    padding:0;
    margin:0;
   
}
html:disabled{
    background-color: gray;
}
body{
    background-color: antiquewhite;
}


h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-fruit, .list-fruit-results {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    height: 15rem;
    width: 100%;
}
.list-fruit p{
    margin-top:5rem;
    background-color: aliceblue;
    font-weight: bold;
}


.fruit{
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}



.list-fruit-results img{
    margin-top:4rem;
    height: 80px;
    background-color: aliceblue;
}

#popup {
    padding: 5px;
    display: block;
    background-color:coral;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup h4{
    font-size: 40px;
}

#popup p{
    font-size: 30px;
}

#popup button {
    position: absolute;
    right: 10px;
    width: 20px;
}

@media (max-width: 900px) {
    .list-fruit, .list-fruit-results {
        grid-template-columns: repeat(3, 1fr);
        height: 30rem;
    }
    .list-fruit-results img{
        height: 40px;
    }
  }

